<h1>Add contact</h1>


<form action="/add_contact" method="post">
  <label for="first">Contact First Name:</label>
  <input id="first" name="first" type="text">

  <label for="last">Contact Lase Name:</label>
  <input id="last" name="last" type="text">

  <label for="title">Title:</label>
  <input id="title" name="title" type="text">

  <label for="company">Company:</label>
  <input id="company" name="company" type="text">



  <button type="submit">Add Contact</button>
</form>
