<DOCTYPE html>
<html>
  <head>
    <title>Contacts Home Page</title>
    <style>
      a {
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Contacts Home Page</h1>
    <h2> Keep track of your contacts! </h2>
    <a href="/index"> HOME PAGE </a>
    <a href="/phone_page"> Add new Phone Number </a>
  </body>
</html>
